<link rel="stylesheet" href="../stylec.css"> 
<html>
    <title> URL shortener</title>
    <body>
        <h1> URL SHORTENER</h1>
        <form action="/shortUrls" method="POST">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <caption>Enter the URL</caption>
                            <input type="url" name="fullUrl" id="fullUrl">
                                <button type="submit">
                                    go!
                                </button>
        </form>
        <table class="table-latitude">
            <thead>
                <th>
                    Old Url
                </th>
                <th>
                    Shortened Url
                    
                </th>
                <th>
                    Old Length
                </th>

                <th>
                    New Length
                </th>
            </thead>
            <tbody>
                <% shortUrls.forEach(shortUrl => { %>
                <tr>
                    <td>
                        <a href="<%= shortUrl.full %>">
                            <%= shortUrl.full %>
                        </a>
                    </td>
                    <td>
                        <a href="<%= shortUrl.short %>">
                            <%= shortUrl.short %>
                        </a>
                    </td>
                    <td>
                        <%= shortUrl.full.toString().length %>
                    </td>
                    <td>
                         <% shortUrl.short.toString().length %> 
                    </td>
                </tr>
                <% }) %> 
            </tbody>
        </table>
                </div>
            </div>
        </div>
    </body>
</html>